.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem;
}

.portraitNameLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.personalInfoContainer {
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 0.7rem;
    font-weight: 700;
}

.dateParagraph {
    opacity: 0.5;
}

.avatarImage { 
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.shareButton {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.shareButton:hover {
    background-color: var(--grayish-blue);
}

.activeShareFooter {
    background-color: var(--very-dark-grayish-blue);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.shareText {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--grayish-blue);
    font-weight: 700;
}

.linkContainer {
    display: flex;
    z-index: 5;
    vertical-align: bottom;
    box-sizing: content-box;
}

.socialMediaButton {
    display: inline-block;
    background-color: transparent;
    max-width: 1rem;
}

.grayBackground {
    background-color: var(--desaturated-dark-blue)
}