.mainContainer {
    width: 88%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    gap: none;
    border-radius: 0.5rem;
}

.headerImage {
    width: 100%;
    object-position: 0 20%;
    object-fit: cover;
    height: 170px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.articleInfoContainer {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h1 {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.2rem;
    opacity: 0.8;
}

.paragraph {
    font-size: 0.7rem;
    line-height: 1.1rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 500;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem;
}

.portraitNameLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.personalInfoContainer {
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 0.7rem;
    font-weight: 700;
}

.dateParagraph {
    font-size: 0.7rem;
    opacity: 0.5;
}

.avatarImage { 
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.shareButton {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: none;
}

.activeShareFooter {
    background-color: var(--very-dark-grayish-blue);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.shareText {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--grayish-blue);
    font-weight: 700;
}

.socialMediaButton {
    background-color: transparent;
    max-width: 1rem;
}

.grayBackground {
    background-color: var(--desaturated-dark-blue)
}